.homepage {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    img{
        height: 90%;
        width: 90%;
    }
    img:hover {
        opacity: 0.6;
    }
}